# ignore all
*
**/.swp

# white list

# git
!/.gitignore
!/.gitconfig

!/.setup.sh
!/.config

# neovim
!/.config/nvim
!/.config/nvim/init.vim

# fish
!/.config/fish
!/.config/fish/config.fish

# vim
!/.vimrc

# zsh
!/.zshrc
!/.zshenv

# tmux
!/.tmux.conf
!/.tmux.statusbar.conf
